body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-image: url(bg3.jpg);
}

main {
  flex-grow: 1;
  background-image: url(bg1.jpg);
}

footer {
  background-image: url(bg3.jpg);
}

.dropshadow {
  text-shadow: 2px 2px black;
}
.hidden {
  display: none;
}

.post-card {
  min-width: 100%;
}
